<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExitPopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,155}}</string>
                <key>sourceSize</key>
                <string>{355,155}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{156,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,54}}</string>
                <key>sourceSize</key>
                <string>{156,54}</string>
            </dict>
            <key>cancel_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,159},{156,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,54}}</string>
                <key>sourceSize</key>
                <string>{156,54}</string>
            </dict>
            <key>check_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,159},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>check_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,159},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>continue_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,215},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>facebook icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>facebook icon_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,317},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>help icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,317},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>help icon_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,317},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mainmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>new game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1191},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>new game_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1191},{250,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1293},{156,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,54}}</string>
                <key>sourceSize</key>
                <string>{156,54}</string>
            </dict>
            <key>ok_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1293},{156,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,54}}</string>
                <key>sourceSize</key>
                <string>{156,54}</string>
            </dict>
            <key>rate icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1293},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>rate icon_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1293},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>select area icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1365},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>select area icon_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1365},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>setting icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1365},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>setting icon_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1365},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenu.png</string>
            <key>size</key>
            <string>{506,1437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff13d546ee083aa9948afedff5a72ee4:fee6c46591b16902192f8c91fae0bd44:31bea43e736bbf933266798eeb07ad7a$</string>
            <key>textureFileName</key>
            <string>MainMenu.png</string>
        </dict>
    </dict>
</plist>
